.user-table-section {


  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: center;
    }

    th {
      background-color: #333;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #f1f1f1;
    }

    .toggle-btn {
      padding: 5px 10px;
      width: 80px;
      text-align: center;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }

    .toggle-btn:hover {
      background-color: #45a049;
    }
  }


}