.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.holder {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    z-index: 1001;
    min-width: 320px;

    .modal-header {
      background-color: #1448e4;
      color: white;
      font-weight: 600;
      font-size: 20px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      .close-modal {
        font-size: 1.5em;
        cursor: pointer;
      }
    }

    .modal-body {
      padding: 20px;
      color: black;

      >div {
        margin-bottom: 20px;

        input[type="text"] {
          display: block;
          width: 100%;
          padding: 5px 5px;
          font-size: 16px;
          border-radius: 5px;
          outline: none;
        }

        label {
          display: block;
        }

        span {
          margin-left: 5px;
        }
      }

      button {
        width: 100%;
        padding: 10px;
        text-align: center;
        background-color: #1448e4;
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }

  .error {
    color: #d9534f;
    font-size: 15px;
  }
}